<html>
    <head>
        <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/main.css") }}>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
        <script type="text/javascript" src={{ url_for("static", filename="js/main.js") }}></script>
    </head>
    <body>
        <div> <b> Rogue Flask </b></div>

        <div class="flexbox">
            <div class="thekeypad">
                <div class="key"></div>
                <div class="key"><input id="go_n" class="keypad_btn" type="button" value="&#9650"> </div>
                <div class="key"></div>
                <div class="key"><input id="go_w" class="keypad_btn" type="button" value="&#9664"></div>
                <div class="key"></div>
                <div class="key"><input id="go_e" class="keypad_btn" type="button" value="&#9654"></div>
                <div class="key"></div>
                <div class="key"><input id="go_s" class="keypad_btn" type="button" value="&#9660"></div>
                <div class="key"></div>
            </div>
            <div class="thekeypad">
                <div class="key"></div>
                <div class="key"><input id="go_n_2" class="keypad_btn" type="button" value="&#9650"> </div>
                <div class="key"></div>
                <div class="key"><input id="go_w_2" class="keypad_btn" type="button" value="&#9664"></div>
                <div class="key"></div>
                <div class="key"><input id="go_e_2" class="keypad_btn" type="button" value="&#9654"></div>
                <div class="key"></div>
                <div class="key"><input id="go_s_2" class="keypad_btn" type="button" value="&#9660"></div>
                <div class="key"></div>
            </div>

            <div id="console" style="font-family: monospace;">
                {% for i in range(n_row) %} 
                <div style="height:18px">
                    {% for j in range(n_col) %}
                    <span id="{{ 'cell {}-{}'.format(i,j) }}"> {{ mapdata[i][j] }} </span>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

        </div>


        <!-- affichage des stats du joueur -->
        <div class="character_stats">
            <b>Player 1</b> 
            </br>
            </br>
            <p>
                PV 
                <span id="PV_1" style="color:rgb(177, 0, 0)"> {{ PV_1 }} </span>
            </p>
            <p>
                Money 
                <span id="money_1" style="color:rgb(226, 173, 0)"> {{ money_1 }} </span>
            </p>
            <p>
                Protection
                <span id="protection_1" style="color:rgb(0, 226, 68)"> {{ protection_1 }} </span>
            </p>
            <b>Player 2</b> 
            </br>
            </br>
            <p>
                PV 
                <span id="PV_2" style="color:rgb(177, 0, 0)"> {{ PV_2 }} </span>
            </p>
            <p>
                Money 
                <span id="money_2" style="color:rgb(226, 173, 0)"> {{ money_2 }} </span>
            </p>
            <p>
                Protection
                <span id="protection_2" style="color:rgb(0, 226, 68)"> {{ protection_2 }} </span>
            </p>
        </div>
        <div>
            <label for="charge_save">Charge a save:</label>

            <input type="file"
                id="charge_save" name="charge_save"
                accept="fichier/txt">
        </div>
        <div><b>Press S to save.</b></div>
    </body>
</html>